
body{
    height: 1000px;
background-color: rgb(247, 245, 245);
font-family: 'Times New Roman', Times, serif;

}
h1{
    text-align: center;
    padding: 20px;
}
h2{
    display: flex;
    color: darkred;
    text-decoration: underline;
    
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 15px;
}

.link {
    text-decoration: none;
    list-style: none;
    line-height: 35px;

}

a{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color:rgb(53, 52, 52);
    font-size: 20px;
    font-weight: bold;
}
.recipe{
    margin: 50px;
    border: black solid 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(199, 240, 226);
    border-radius: 25px;
}